@page "/"
@using Facturations.Shared
@inject IBusinessData data

<h1>Votre activité</h1>

<h2> Chiffre d'affaire : <strong>@data.SalesRevenue.ToString("$ 0.00 ")</strong></h2>

<h2> Reste du : <strong>@data.Outstanding.ToString("$ 0.00 ")</strong></h2>